<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--connectionStrings>
    <add name="ShoeShopConnection" connectionString="Server=(local)\SQLExpress; Database=ShoeShop; User=shoeshop; Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings-->
  <connectionStrings>
    <add name="ShoeShopConnection" connectionString="Server=(local)\SQLExpress; Database=ShoeShop; User=shoeshop; Password=123456" providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=(local)\SQLExpress;Database=ShoeShop; User=shoeshop; Password=123456" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Server=(local)\SQLExpress;Database=ShoeShop; User=shoeshop; Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <location path="AdminDepartments.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminCategories.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminProducts.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminProductDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
    
  <!--connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	</connectionStrings-->
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms">
      <forms name="ShoeShopLogin" loginUrl="Login.aspx" path="/" protection="All" timeout="60" />
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="true">
   <providers>
    <clear />
    <add connectionStringName="ApplicationServices" applicationName="/"
     name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
    <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
     type="System.Web.Security.WindowsTokenRoleProvider" />
   </providers>
  </roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

  <!--sessionState
  mode="InProc"
  stateConnectionString="tcpip=127.0.0.1:42424"
  sqlConnectionString="data source=127.0.0.1;Trusted Connection=yes"
  cookieless="true"
  timeout="20" /-->

  
  <appSettings>
    <add key="PaypalUrl" value="https://www.paypal.com/xclick" />
    <add key="PaypalEmail" value="er.sumitarora@gmail.com" />
    <add key="PaypalCurrency" value="USD" />
    <add key="PaypalReturnUrl" value="http://www.example.com" />
    <add key="PaypalCancelUrl" value="http://www.example.com" />
    <add key="CartPersistDays" value="10" />
    <add key="ProductsPerPage" value="6"/>
    <add key="ProductDescriptionLength" value="60"/>
    <add key="SiteName" value="ShoeShop"/>
  </appSettings>
  
  
</configuration>
