body 
{
    font-family:Arial;
    font-size:12px;
    background-color:#CECED1;
}

a, img 
{
    border:none;
    font-weight:normal;
    color:#0000FF;
}

.window 
{
    margin:0 auto;
    width:1000px;
    height:auto;
    background-color:White;
    border:1px solid #585858;
}

.header
{
    width:998px;
    height:130px;
    border:1px solid gray;
    color:White;
    font-weight:bold;
    /*background-image:url('../../Images/header.jpg');
    background-size:998px 160px;*/
    background-color:#283F6D;
}

.left
{
   width:200px;
   vertical-align:top;

   padding:5px;
}
  
.right
{
    width:800px;
    padding:10px;
    vertical-align:top;

}
  

.footer 
{
    clear:both;
    height:50px;    
    border:1px solid gray;
    padding-left:350px;
    padding-top:30px;
    /*background-image:url('../../Images/header.jpg');
    background-size:998px 100px;*/
    color:White;
    background-color:#283F6D;
}

.search
{
    height:49px;
    padding-top:50px;
    width:458px;
    float:left;
}


.site-name 
{
    float:left;
    padding-top:45px;
    width: 230px;
    height: 36px;
    font-size:40px;
    padding-left:20px;
    color:#FFF;
}

.seachbuttonDiv 
{
    margin-top:46px; width:127px; float:left; margin-left:15px;
}

.searchbox 
{
    font-size:18px;
    border:1px solid gray;
    padding:7px;
    width:450px;
    float:left;
}

ol
{
    list-style-type:none;
    font-size: 12px;
    margin:0 !important;
    padding:0 !important;
    list-style-position: inside !important;
    border:1px solid black;
}

ol li
{

}

ol li a
{
    padding:5px;
    display:block;
    font-size:14px;
    text-decoration:none; 
    color:Black;
}

ol li a:hover
{
    background-color:#5858FA;
    color:White;
}

.sideBarTitle
{
    background-color:#49587A;
    font-weight:bold;
    font-size:15px;
    padding:5px;
    color:White;
     list-style-type:none;
}

.mycart
{
    float:right;
    width:100px;
    margin-left: 40px;
    height: 119px;
}

.mycart img
{
    margin-top:20px;
}

.header-text
{
    clear:both;
    background-color:#6E6E6E;
    color:White;  
    padding:5px;  
    font-family:Arial;
}

.top-links
{
    float:right;
    height: 19px;
}

.top-links a
{
    color:White;
}

.top-links ul
{
    list-style-type: none;
    height: 17px;
    width: 200px;
}

.top-links ul li
{
    float:left;
    padding-left:10px;
}

.activeLink
{
    font-weight:bold;

}

.ptitle
{
    margin-top:-4px;
    background-color:#49587A;
    border:1px solid #424242;
    color:White;
    font-size:24px;
    font-weight:bold;
    padding:8px 8px 8px 50px;    
    background-image:url('../../Images/shopping_cart.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}

.button
{
 color:White;
 background-color:#49587A;
 padding:8px 20px 8px 20px;
 border:none;
 cursor:pointer;   
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('../../Images/success.png');
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 40px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.fail {
  color: #B01E1E;
  background-color: #FFC0C0;
  background-image:url('../../Images/remove.gif');
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 40px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.info {
  color: #5858FA;
  background-color: #CECEF6;
  background-image:url('../../Images/info.png');
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 40px;
  background-repeat: no-repeat;
  background-position: 10px center;
}


.amtTotal 
{
    text-align:right;
    font-weight:bold;
    font-size:16px;
}

.loginTBox
{
    width:200px;
    padding:5px;
    border:1px solid gray;
    margin-left: 23px;
}​