USE SHOESHOP

CREATE TABLE COMPARE_LOG( 
USER_UID VARCHAR(100) NOT NULL,
PRODUCT_ID INT
)

CREATE PROCEDURE COMPAREPRODUCTS(@USER_IP VARCHAR)
AS
SELECT	PC.PRODUCTID,
		P.NAME "PRODUCT NAME",
		P.PRICE,
		D.NAME "DEPARTMENT NAME",
		C.NAME "CATEGORY NAME" 
FROM	PRODUCTCATEGORY PC, 
		CATEGORY C, 
		PRODUCT P,
		DEPARTMENT D
WHERE	PC.PRODUCTID IN (SELECT PRODUCT_ID FROM COMPARE_LOG WHERE USER_UID=@USER_IP)
AND		PC.CATEGORYID = C.CATEGORYID
AND		PC.PRODUCTID = P.PRODUCTID
AND		C.DEPARTMENTID = D.DEPARTMENTID
GO

CREATE PROCEDURE ADDTOCOMPARE(@USER_IP VARCHAR(100), @PRODUCT_ID INT)
AS
INSERT INTO COMPARE_LOG VALUES(@USER_IP, @PRODUCT_ID)
GO

CREATE PROCEDURE REMOVE_ALL_COMPARISON(@USER_IP VARCHAR(100))
AS
DELETE FROM COMPARE_LOG WHERE USER_UID=@USER_IP
GO

CREATE PROCEDURE REMOVE_COMPARISON(@USER_IP VARCHAR(100),@PRODUCT_ID INT)
AS
DELETE FROM COMPARE_LOG
WHERE USER_UID = @USER_IP
AND PRODUCT_ID = @PRODUCT_ID 
GO